<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonTestSuite">
  <test thread-count="2" name="Smoke">
    <classes>
      <class name="com.naniTech.automation.testcases.IntroPageTest"/>
      <!--  <class name="com.naniTech.automation.Maven_Automation.MouseTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
